* {
  font-family: calibri;
}

.container {
  border: 1px solid #eee;
  margin: 0 auto;
  margin-top: 160px;
  width: 700px;
  border-radius: 10px;
  box-shadow: 0px -1px 8px 4px rgba(107, 103, 103, 0.75);
  -webkit-box-shadow: 0px -1px 8px 4px rgba(107, 103, 103, 0.75);
  -moz-box-shadow: 0px -1px 8px 4px rgba(107, 103, 103, 0.75);
}

.btn-group {
  padding: 30px 145px;
}

.btn-turn-on {
  font-size: 14px;
  font-weight: bold;
  border: none;
  background-color: green;
  color: white;
  width: 150px;
  padding: 10px 0;
  border-radius: 4px;
  cursor: pointer;
}

.btn-turn-on:active {
  background-color: white;
  color: green;
  border: 1px solid green;
}

.btn-turn-off {
  font-size: 14px;
  font-weight: bold;
  border: none;
  background-color: red;
  color: white;
  width: 150px;
  padding: 10px 0;
  border-radius: 4px;
  cursor: pointer;
}

.btn-turn-off:active {
  background-color: white;
  color: red;
  border: 1px solid red;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 500px;
  }

  .btn-group {
    box-sizing: border-box;
    padding: 20px 45px;
  }
}

@media only screen and (max-width: 517px) {
  .container {
    margin-top: 30px;
    width: 350px;
    height: 500px;
  }

  .btn-group {
    position: relative;
    bottom: 30px;
    box-sizing: border-box;
    margin: 113px 0;
    padding: 20px 40px;
  }

  #myImage {
    position: relative;
    right: 70px;
  }

  .btn-turn-on {
    position: relative;
    top: 50px;
    left: 60px;
  }

  .btn-turn-off {
    position: relative;
    top: 70px;
    left: 60px;
  }
}

@media only screen and (max-width: 367px) {
  .container {
    margin-top: 30px;
    width: 300px;
    height: 500px;
  }

  .btn-group {
    position: relative;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    margin: 101px 0;
    padding: 20px 40px;
  }

  #myImage {
    position: relative;
    left: 60px;
    bottom: 50px;
  }

  .btn-turn-on {
    position: relative;
    top: 200px;
    bottom: 0;
    left: 40px;
    right: 50px;
  }

  .btn-turn-off {
    position: relative;
    top: 30px;
    bottom: 0;
    left: 40px;
    right: 50px;
  }
}
